@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-900 text-white font-mono;
}

a.ul {
	@apply underline hover:no-underline;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}
